{pre_hooks,
  [{"(darwin|linux)", compile, "make -C be-tree NIF=true"},
   {"(darwin|linux)", compile, "make -C c_src"}]}.

{post_hooks,
  [{"(darwin|linux)", clean, "make -C be-tree clean"},
   {"(darwin|linux)", clean, "rm -f priv/libbetree.so"},
   {"(darwin|linux)", clean, "make -C c_src clean"}]}.

